.profilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Garante que o padding não adicione largura */
  min-height: 100vh; /* Para garantir que a página ocupe a altura mínima da tela */
  background: none;
}